
### Use it to keep things that are specific to one machine out of the project.

### OS X directory metadata
.DS_Store
.directory
.DS_store
### logs (they're specific per-server)
*.log

### temporary files (during editing)
*.*~
Web_App/Database/.idea/*

### swap files (used by vim editor for file recovery)
*.swp
test*
Test/
Notes/

*.properties

Web_App/nbproject/private/private.xml

Web_App/nbproject/project.properties

Web_App/nbproject/project.xml

Web_App/nbproject/private/private.properties

Web_App/nbproject/private/private.xml

Web_App/nbproject/project.properties
