#login {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

#login ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

form#login {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgba(255,255,255,0.7);
}

form#login li {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*form#login input {
  float: right;
}*/

#login li:first-child {
  font-weight: bold;
  font-size: 1.1em;
}

form#login input[type='password'], form#login input[type='email'] {
  width: 128px;
  float: right;
}

#login li:last-child {
  text-align: center;
}

/*#login_button {
  float: right;
}

#register {
  float: all;
}*/