#login {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#login ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

form#login {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

form#login li {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form#login input {
  float: right;
}

#login_button {
  float: right;
}

#register {
  float: all;
}