@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

button, input[type='submit'] {
  cursor: pointer;
}

body {
  width: 1100px;
  margin: 0em auto;
  padding: 0em;
}

nav li {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  margin: 0.5em 1em 0.5em 1em;
}

nav li:last-child {
  float:right;
}

ul {
  padding: 0em;
}

a, a:visited, a:link {
  color: #222;
}

a:hover, a:active {
  color: #888;
}

/*main {
  margin: 1em;
}
*/

.title {
  font-size: 4em;
  text-align: center;
  margin: 0.25em;
  font-family: 'Lobster', cursive;
}

.twobutton {
  display: inline;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#account_setup {
  width: 1000px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

* {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

#rate_from_discovery {
   visibility: hidden;
   position: absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height:100%;
   text-align:center;
   z-index: 1000;
}
#rate_from_discovery form {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;

}

#delete_and_rate_from_list {
   visibility: hidden;
   position: absolute;
   left: 0px;
   top: 0px;
   width:100%;
   height:100%;
   text-align:center;
   z-index: 1000;
}

#delete_and_rate_from_list form {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}

dialog form {
  border:1px solid #000;
  padding:15px;
  text-align:center;

}
ol#book_covers_to_rate {
margin: 0;
padding: 0;
list-style-type: none;
}

ol#book_covers_to_rate p {
  margin: 0.4em auto;
}

ol#book_covers_to_rate li { 
  display: inline-block;
  width: 23%;
  min-height: 340px;
  margin: 0 1% 20px;
  line-height: 1.2;
  border-radius: 1em;
  /*background: #808080;*/
  /*padding:20px;*/
  /*float:left;*/
}

#setup_submit {
  margin-bottom:2em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

ol#book_covers_to_rate img {
  height: 200px;
  /*padding-bottom: 50px;*/
  clear: both;
}

ol#book_covers_to_rate p:first-child {
  font-weight: bold;
}
/*
ol#book_covers_to_rate button {
  width: 50%;
  height: 30px;
}*/

#reading_list ol {
  list-style: none;
  overflow: auto;
}

#reading_list li {
  cursor: pointer;
}

#reading_list li:hover:after {
  position: absolute;
  /*margin-left: 1em;*/
  content: "✕";
  color: red;
}

#reading_list li:before {
    content:' ';
    display:block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 4px;
    margin-bottom: 4px;
}

#reading_list li:first-child:before {
  border: none;
}

ol#book_covers_to_rate button img {
  margin: auto;
  height: 30px;
}

ol#book_covers_to_rate button:last-child img {
  position: relative;
  top: 5px;
}
#account_setup input[type=submit], #discovery_section button, #this_book button
{
    /* your styles here, You can just increase its font size below*/
    font-size: 1.5em; 
    /*font-weight: bold;*/
    background-color: rgb(128,232,148);
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    color:white;
}

#account_setup input[type=submit]:active, #discovery_section button:active, #this_book button:active
{
  background-color: rgb(96, 200, 116);
}

input[type=submit], button
{
    background-color: rgb(174,222,244);
    box-shadow: none;
    border: none;

  border: 1px solid black;
  border-radius: 0.3em;
}

#account_setup li div {
  visibility: hidden;
}

#account_setup li:hover div {
  visibility: visible;
}

#discovery_section {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#discovery_section #book_title, #discovery_section #book_author {
  text-align: center;
}

#discovery_section #book_cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#discovery_section fieldset {
  border: none;
  margin: 1em auto 2em;
  text-align: center;
}

#discovery_section button {
  width: 200px;
}

#discovery_section button + button {
  margin-left: 2em;
}

#discovery_section button:last-child:after {
  content: " ▶";
  font-size: 0.8em;
}

/*#discovery_section fieldset button {
  font-size: 2em;
  background: #E4db48;
  border-radius: 0.3em;
}*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

#book_title {
  margin-bottom: 0;
}

#list_book_info {
  padding-left: 2em;
}

#list_book_info img {
  /*float: left;*/
  margin-top: 2em;
  width: 20%;
  vertical-align: center;
}

#list_book_info h1 {
  margin-bottom: 0;
}

#list_book_info h2 {
  margin-top: 0.25em;
  margin-bottom: 0;
}

#list_book_info p {
  margin-top: 0.5em;
}

#list_book_info > div {
  float: right;
  width: 75%;
  height: 400px;
  overflow: auto;
}

#this_book > button {
  display: block;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
}

#book_author {
  margin-top: 0;
  margin-bottom: 1.5em;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

body > nav li:first-child a {
  font-family: 'Lobster', 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

.subtitle {
  text-align: center;
}

input[type='text'], input[type='password'], input[type='email'] {
  background-color: rgba(255,255,255,0.3);
}

input[type='submit'], button {
  background-color: rgba(255,255,255,0.7);
}

body > nav li:first-child a:before {
  position: relative;
  display: inline-block;
  top:7px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  content: "";
  background: url("../favicon-32x32.png");
  background-size: 100%;
}

.title:before {
  position: relative;
  display: inline-block;
  top: 7px;
  right: 8px;
  width: 72px;
  height: 72px;
  content: "";
  background: url("../favicon-96x96.png");
  background-size: 100%;
}

#book_description {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

body > nav:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

#reading_list h1:after {
    content:' ';
    display:block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

#reading_list {
  text-align: center;
  width: 24.8%;
  float: left;
  border-right: 2px solid #d0d0d0;
  /*border-radius: 1px;
  box-shadow: inset 1px 0 1px rgba(0,0,0,0.05);*/
  min-height: 600px;
  margin-bottom: 2em;
}

#this_book {
  width: 75%;
  float: right;
  min-height: 600px;
  margin-bottom: 2em;
}

#this_book > h2 {
  margin-top: 170px;
  margin-bottom: 170px;
}

#discovery_info {
  height: 400px;
  overflow: auto;
}

#discovery_info img {
  height: 200px;
}

#list_books {
  padding-left: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
}

.setupratingbutton {
  background: rgba(0,0,0,0);
  border: none;
  margin-top: 10px;
  height: 30px;
}

#reading_list h1 {
  font-family: 'Lobster', cursive;
}

#discovery_section {
  width: 1020px;
  margin: 0 auto;
  padding: 10px 40px 20px 40px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);

}

nav {
  width: 1020px;
  margin: 0 auto;
  padding: 10px 40px 20px 40px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
}

#account_setup {
  width: 1020px;
  margin: 0 auto;
  padding: 10px 40px 20px 40px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
}

div#list_body #reading_list {
  margin: 0 auto;
  height: 100%;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
}

div#list_body #this_book {
  margin: 0 auto;
  height: 100%;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
}

#login_body{
  width: 1020px;
  margin: 0 auto;
  padding: 10px 40px 20px 40px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.95);
  min-height: 800px;
}

#list_description {
  width: 80%;
}



