@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
  width: 1100px;
  margin: 0em auto;
  padding: 0em;
}

nav li {
  font-size: 1.5em;
  display: inline-block;
  list-style-type: none;
  margin: 0.5em 1em 0.5em 1em;
}

nav li:last-child {
  float:right;
}

ul {
  padding: 0em;
}

a, a:visited, a:link {
  color: #222;
}

a:hover, a:active {
  color: #888;
}

main {
  margin: 1em;
}

.title {
  font-size: 4em;
  text-align: center;
  margin: 0.25em;
  font-family: 'Lobster', cursive;
}

.twobutton {
  display: inline;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#account_setup {
  width: 1000px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

* {
  font-family: "Source Sans Pro", Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

#rate_from_discovery {
  width:40%;
  margin-right: auto;
  margin-left: auto;
  visibility: hidden;
  text-align:center;
}

dialog form {
  border:1px solid #000;
  padding:15px;
  text-align:center;

}
ol#book_covers_to_rate {
margin: 0;
padding: 0;
list-style-type: none;
}

ol#book_covers_to_rate li { 
  display: inline-block;
  width: 23%;
  min-height: 340px;
  margin: 0 1% 30px;
  line-height: 1.2;
  border-radius: 1em;
  /*background: #808080;*/
  /*padding:20px;*/
  /*float:left;*/
}

#setup_submit {
  margin-bottom:2em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

ol#book_covers_to_rate img {
  height: 200px;
  /*padding-bottom: 50px;*/
  clear: both;
}

ol#book_covers_to_rate p:first-child {
  font-weight: bold;
}
/*
ol#book_covers_to_rate button {
  width: 50%;
  height: 30px;
}*/

ol#book_covers_to_rate button img {
  margin: auto;
  height: 20px;
}
#account_setup input[type=submit]
{
    /* your styles here, You can just increase its font size below*/
    font-size: 30px; 
    font-weight: bold;
    background-color: #ffedca;
}

#account_setup li div {
  visibility: hidden;
}

#account_setup li:hover div {
  visibility: visible;
}

#discovery_section {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#discovery_section #book_title, #discovery_section #book_author {
  text-align: center;
}

#discovery_section #book_cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#discovery_section fieldset {
  /*border-radius: 0.3em;*/
  margin: 2em auto 2em;
  text-align: center;
}

#discovery_section fieldset button {
  font-size: 2em;
  background: #E4db48;
  border-radius: 0.3em;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

body > nav li:first-child a {
  font-family: 'Lobster', 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

.subtitle {
  text-align: center;
}

input[type='text'], input[type='password'], input[type='email'] {
  background-color: rgba(255,255,255,0.3);
}

input[type='submit'], button {
  background-color: rgba(255,255,255,0.7);
}

body > nav li:first-child a:before {
  position: relative;
  display: inline-block;
  top:7px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  content: "";
  background: url("../favicon-96x96.png");
  background-size: 100%;
}

#book_description {
  text-align: center;
}

body > nav:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

#reading_list {
  width: 25%;
  float: left;
}

#this_book {
  width: 75%;
  float: right;
}

#discovery_info {
  height: 400px;
  overflow: auto;
}

#discovery_info img {
  height: 200px;
}